# Delphi - arquivos compilados
*.dcu
*.exe

# Delphi - arquivos locais/temporários
*.local
*.identcache
*.dsk
*.stat

# Histórico e recuperação do Delphi
__history/
__recovery/

# Pastas geradas durante compilação
Win32/
Win64/
Debug/
Release/

# Arquivos temporários
*.tmp
*.bak
*.~*

# Configuracao local
config/config.ini